nav {
    height: 350px;
}
#nav-background {
    background-image: url("../../assets/images/simpsons/Simpsons_cast.jpg");
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100vw;
    opacity: .3;
    transform: scale(.90, 1);
}

#brand {
    transform: scale(.5, .5);
}

#titleBox {
    opacity: .5;
}

#titleBox a {
    text-decoration: none;
    color: inherit;

}